@import url('https://fonts.googleapis.com/css?family=Kalam');

*{
    font-family: 'Kalam', cursive;
}


h4{
    font-size: 40px;
}

/*** MENU ***/

nav {
    background-color: #a48f7f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.nav-item {
    height: 75px;
    min-width: 100px;
    flex:1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item:hover{
    background-color: #c3c0b4
    ;
}

.nav-item a {
    color:white;
    text-decoration: none;
}

/*** HEADER ***/
header {
    background-image: url("img/Home.jpg");
    height: 80% ;
    width: 100% ;
    background-repeat: no-repeat;
    background-position: center;
    background-size : cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-attachment: fixed;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}


/*** Lien dans le header ***/
#social-links {
    position: absolute;
    top: 20px; 
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;  
    margin: 2px;
}

.liens{
    width: 40px;
    margin: 5%;
}
            /****/

header h1 {
    background-color: grey ; 
    color: #18171a;
    border-style : solid;
    border-width:2px;
    text-align: center;
    border-color: rgb(66, 66, 66); 
    border-radius: 10px;
    margin: 0;
    padding:5px 10px; 
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0,.64,.02,1.05);
    font-size: 30px;
    letter-spacing: 10px;
}

header h1:hover {
    background-color: rgba(61, 60, 60, 0.733); 
    color : rgb(255, 255, 255);  
}

a{
    color: inherit;
    text-decoration: none;
    }


section{
background-color: rgb(73, 73, 77);
margin: 0;
flex-wrap: wrap;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
min-height: 45%;
cursor: pointer;
}


section a {
    width : 13%;
    margin: 30px;
}


/******
* ARTICLES
*******/

/*** about ***/

#about article{
    width: 100%;
    padding: 15px;
    margin: 30px;
    text-align: justify;
}

#about h1{
    text-transform: uppercase;
    color : white;
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
}

#about h2{
    text-transform: uppercase;
    color :white;
    text-align: left;
}

#about h3{
    text-transform: uppercase;
    color :white;
    text-align: left;
}

#about p{
    color: white;
    font-size: 20px;
}

#about b{
    color:lightcoral;
}

#about hr {
    width: 80%;
}

#articles {
    background-color: rgb(248, 241, 241);
    flex-wrap: wrap;
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100%;
}


#articles a {
    width: 33%;
    margin: 20px 20px;
}

#articles article {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 5px;
    flex-direction: column;
    background-color:  rgba(249, 251, 253, 0.5);
    width: 100%;
    align-items: center;
    border-width: 4px;
    border-color: rgb(253, 253, 253);
    border-style: solid;
    margin-bottom: 5%;
}

#articles article:hover {
    filter: grayscale(100%);
    transition: all 0.6s cubic-bezier(0.075,0.82,0.165,1);
}

#article1 {background-image:url("img/Paris\ 1.jpg");}
#article2 {background-image:url("img/Paris2.jpg");}
#article3 {background-image:url("img/Paris3.jpg");}
#article4 {background-image:url("img/Paris3.jpg");}
#article5 {background-image:url("img/Paris4.jpg");}
#article6 {background-image:url("img/Paris5.jpg");}

/*** FOOTER ***/

footer {
    background-image: url("img/Home.jpg");
    width: 100% ;
    background-repeat: no-repeat;
    background-position: center;
    background-size : cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-attachment: fixed;
}

/** RESPONSIVE **/
/*MOBILE*/

@media screen and (max-width: 600px) {
    section {
    flex-wrap: nowrap;
    flex-direction: column;   
    margin: 20px; 
    }
    section a {
        width: 80%;
    }
    h4 {
        font-size: 20px;
    }
    article{
        display: flex;
        flex-direction: column;
    }
}

/*TABLET*/
@media screen and (min-width: 600px) and (max-width: 900px) {
    section a {
        width: 70%;
    }
}


/** ANIMATION **/

header h1 {
    animation : enter 2s ease-in-out;}

@keyframes enter {
    from {opacity:0;
    transform: translateY(100px);
}
    to {opacity :1;
    transform: translateY(0);
    }
}